:root {
  --darkblue: #1D3557;
  --oceanblue: #457B9D;
  --midblue: #a8dadc;
  --lightblue: #f1faee;
  --lightgrey: #f1f1f1;
  --red: #e63946;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#app {
    color: black;
    font-weight: 700;
}

header h2 {
    margin-bottom: 0;
}

.mobnav {
    display: none;
}

.hamburger {
    display: none;
}

.hamburger div {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
  }

.laptop-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.laptop-nav ul {
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.laptop-nav li {
    float: left;
    border-right:1px solid #bbb;
    padding: 1em;
    width: 145px;
  }
  
.laptop-nav li a {
    display: block;
    color: black;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
  }

.laptop-nav li a:hover {
    color: var(--red);
}

/* --- MAIN --- */

main {
    height: auto;
    min-height: 80vh;
}

.frontpage-intro-box {
    padding: 1em;
    width: 60%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
}

.frontpage-intro-box h1 {
    font-weight: 100;
    color: var(--oceanblue);
    margin-bottom: 0;
    font-size: 5vh;
}

.frontpage-intro-box h2 {
    margin-top: 0.5em;
    font-weight: 400;
    font-size: 3vh;
}

.frontpage-intro-box img {
    width: 50%;
    max-width: 400px;
    height: auto;
}

.frontpage-hrv-info, .user-raport, .user-heading {
    width: 60%;
    max-width: 1000px;
    background-color: var(--lightgrey);
    padding: 1em;
    margin: 1em;
}

.user-heading {
    background-color: white;
}

.user-heading h3 {
    margin: 0;
    padding: 0;
    font-weight: 200;
}

.user-raport {
    background-color: white;
    box-shadow: 7px 7px 5px var(--lightgrey);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#sleep-average, #readiness-average, #age-average {
    width: 30%;
    padding: 0.5em;
    background-color: var(--darkblue);
    text-align: center;
}

#readiness-average {
    background-color: var(--lightblue);
}

#readiness-average .small-heading {
    color: var(--oceanblue);
}

#readiness-average h1, #sleep-average h1, #age-average h1 {
    color: white;
    font-size: 7vw;
    padding: 0;
    margin: 0;
}

#age-average {
    background-color: var(--midblue);
}

#age-average .small-heading {
    color: #1D3557;
}

#age-average h1 {
    color: var(--red);
}

#readiness-average h1 {
    color: #1D3557;
}

.small-heading {
    padding: 0;
    margin: 0;
    color: pink;
}

/* --- MOBILE STYLING --- */

  @media screen and (max-width: 987px) {

    header {
        height: auto;
    }

    header h2 {
        font-size: 3vw;
    }

    #app {
        font-size: 2vw;
    }

    .hamburger {
        display: block;
        padding: 1em;
        background-color: var(--oceanblue);
    }

    .hamburger:hover {
        background-color: orange;
    }

    .laptop-nav {
        display: none;
    }

    .mobnav {
        display: none;
    }

    #mobile-nav ul {
        padding: 0;
        margin: 0;
        background-color: var(--lightgrey);
    }
    
    #mobile-nav ul li {
        list-style-type: none;
    }
    
    #mobile-nav ul li a {
        display: block;
        color: #000;
        text-decoration: none;
        padding: 1em;
      }
    
    #mobile-nav ul li a:hover {
        background-color: var(--red);
        color: white;
      }
    
    .frontpage-intro-box, .frontpage-hrv-info, .user-raport, .user-heading {
        width: 100%;
    }

    .frontpage-intro-box {
        flex-direction: column;
    }

    .frontpage-intro-box h1 {
        font-weight: 400;
        font-size: 6vw;
    }

    .frontpage-intro-box h2 {
        font-size: 4vw;
    }

    .frontpage-intro-box img {
        width: 100%;
        max-width: none;
        height: auto;
    }

    .frontpage-hrv-info {
        margin: 0;
    }

    .frontpage-hrv-info h3, .frontpage-hrv-info p, footer {
        font-size: 3vw;
    }

    .small-heading {
        font-size: 2vw;
    }

    .user-heading h2 {
        font-size: 3vw;
    }

    .user-heading h3 {
        font-size: 3vw;
    }

  }

  @media screen and (max-width: 400px) {
    .user-raport {
        flex-direction: column;
        gap: 1em;
    }

    #readiness-average, #sleep-average, #age-average {
        width: 100%;
    }
  }

  @media screen and (min-width: 985px) {
    #mobile-nav {
        display: none;
    }
}