:root {
  --darkblue: #1D3557;
  --oceanblue: #457B9D;
  --midblue: #a8dadc;
  --lightblue: #f1faee;
  --lightgrey: #f1f1f1;
  --red: #e63946;
}

* {
    box-sizing: border-box;
}

.hrv-input-form {
    width: 90%;
    max-width: 1000px;
    box-shadow: 7px 7px 5px var(--lightgrey);
    padding: 1em;
}

.input-measurement-entry{
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
}

.input-measurement-entry div {
    min-width: 150px;
    width: 20%;
    max-width: 300px;
}

.hrv-m-table {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 1em;
}

.hrv-m-table th {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
}

.hrv-m-table td {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0.5em;
    /*padding-right: 1em;*/
}

.hrv-m-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.hrv-m-table .check, .hrv-m-table .delete-m {
    border: none;
    background-color: var(--oceanblue);
    color: var(--lightblue);
    width: 90%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-width: 150px;
    transition: 0.3s;
}

.hrv-m-table .check:hover, .hrv-m-table .delete-m:hover {
    background-color: var(--darkblue);
}

.hrv-m-table .delete-m {
    background-color: var(--red);
}

/* --- INPUT MEASUREMENT FORM BUTTON --- */

.create-m {
    background-color: var(--midblue);
    color: var(--darkgrey);
    border: none;
    transition: 0.3s;
}

.create-m:hover {
    background-color: var(--darkblue);
    color: var(--lightblue);
}
#diary-box {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; 
  margin-top: 100px; 
  left: 20vh;
  top: 0;
  height: 60vh;
  background-color: var(--oceanblue);
  border-radius: 30px;
  box-shadow: 7px 7px 5px var(--lightgrey);
  color: white;
  /*width: 100%;
  height: 100%;*/
}

#diary-box button {
    width: 60%;
    margin-left: 1em;
    margin-bottom: 1em;
    background-color: var(--red);
    color: white;
    border: none;
    transition: 0.3s;
}

#diary-box button:hover {
    background-color: var(--darkblue);
}

#diary-box h2 {
    margin: 0;
    padding: 1em;
}

#diary-box p {
    margin: 0;
}


@media screen and (max-width: 850px) {
    .hrv-input-form {
        width: 100%;
    }

    h2 {
        font-size: 5vw;
    }

    #diary-box h2 {
        padding: 0.6em;
        margin-top: 1em;
    }

    .hrv-m-table {
        width: 100%;
    }

    .hrv-m-table h2 {
        margin-left: 1em;
    }

    th, td, .check, .delete-m {
        padding: 0;
        font-size: 2vw;
    }

    #diary-box {
        left: 0;
        height: 70vh;
    }
}

@media screen and (max-width: 350px) {
    .input-measurement-entry input {
        width: 100%;
    }

    .input-measurement-entry {
        padding: 0;
    }
    

    .input-measurement-entry div {
        width: 100%;
    }

    #post-m {
        margin-top: 1em;
    }

    th:nth-child(2) {
        display: none;
    }

    td:nth-child(2) {
        display: none;
      }
    

    tr {
        height: 50px;
    }

    th {
        font-size: 4vw;
    }

    td {
        font-size: 4vw;
        font-weight: 500;
    }

    .check, .delete-m {
        height: 40px;
        font-size: 4vw;
    }

    #diary-box p {
        font-size: 4vw;
    }

}
