
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --darkblue: #1D3557;
  --oceanblue: #457B9D;
  --midblue: #a8dadc;
  --lightblue: #f1faee;
  --lightgrey: #f1f1f1;
  --red: #e63946;
  --p-10: 10px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

header {
  height: 10vh;
}

header h2 {
  margin-top: 0;
  color: var(--red);
  padding-left: 0.5em;
}

main {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-image: url('../public/img/computer-767776_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 90%;*/
}

.phone-login, .phone-user-register {
  display: none;
}

.forms {
  display: flex;
  flex-direction: row;
  /*width: 60%;*/
  gap:3em;
  /*justify-content: space-around;*/
}

.login-form, .create-new-user {
  width: 35%;
  min-width: 350px;
  box-shadow: 7px 7px 5px var(--lightgrey);
  border-radius: 10px;
}

.login-form h3, .create-new-user h3 {
  padding-left: 1em;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.create-new-user {
  display: none;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  background-color: var(--midblue);
}

@keyframes example {
  25%   {left:0px; top:0px;}
  0%  {left:200px; top:0px;}
 
}

input, .create-user-button  {
  width: 90%;
  max-width: 400px;
  padding: 1em;
}

input:focus, textarea:focus {
  background-color: var(--lightgrey);
}

.loginform, .postuser, .create-user-button {
  margin-top: 1.5em;
  border: none;
  background-color: var(--midblue);
  color: var(--darkgrey);
  transition: 0.3s;
}

.login-form {
  background-color: white;
}

.postuser, .create-user-button {
  background-color: var(--red);
  color: var(--lightblue);
}

.loginform:hover, .postuser:hover {
  color: var(--lightgrey);
  background-color: var(--darkblue);
}

.create-user-button:hover {
  background-color: var(--darkblue);
  color: var(--lightgrey);
}

footer {
  min-height: 10vh;
  background-color: var(--darkblue);
  color: var(--lightblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .forms {
    flex-direction: column;
  }

  .create-new-user {
    display: block;
    animation-duration: 0s;
  }

  @keyframes example {
    0%   {left:0px; top:0px;}
    0%  {left:200px; top:0px;}
   
  }

  main {
    height: auto;
  }

  footer {
    margin-top: 1em;
  }
}

@media screen and (max-width: 450px) {

  main {
    height: 80vh;
  }

  .phone-login, .phone-user-register {
    display: block;
    border: solid 2px var(--midblue);
    width: 95%;
    background-color: white;
    padding: 1em;
  }

  .phone-user-register {
    border: solid 2px orange;
    background-color: orange;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .phone-login:hover {
    background-color: var(--midblue);
    color: white;
  }

  .phone-user-register:hover {
    border: solid 2px orange;
    background-color: white;
    color: orange;
  }

  .forms {
    align-items: center;
    width: 100%;
    gap: 0.5em;
  }

  .login-form, .create-new-user {
    min-width: 100%;
    box-shadow: none;
    border-radius: 10px;
    display: none;
  }

  .login-form {
    background-color: var(--lightgrey);
  }

  input, .create-user-button {
    width: 100%;
  }

  .create-user-button {
    display: none;
  }

}



